

/* CONTENEDOR GENERAL */
.dashboard-container {
  width: 75%;
  max-width: 100%;
  margin: auto;
  padding: 2.5rem;
  min-height: 100vh;
  background: #f8fafc;
  font-family: 'Inter', sans-serif;
}

/* HEADER */
.dashboard-header h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 0.3rem;
}

.dashboard-date {
  font-size: 1rem;
  color: #475569;
  margin-bottom: 2rem;
}

/* SECCIONES */
.dashboard-section {
  margin-bottom: 2rem;
}

/* TARJETAS DEL MENU */
.menu-card {
  display: block;
  width: 20%;
  background: white;
  padding: 1.8rem;
  border-radius: 14px;
  text-decoration: none;
  color: #0f172a;
  border: 1px solid #e2e8f0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
}

.menu-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  border-color: #cbd5e1;
}

.menu-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.menu-card p {
  font-size: 0.95rem;
  color: #475569;
}

/* GRID RESPONSIVE (si agregas más tarjetas en el futuro) */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.2rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 1.5rem;
    width: 100%;

  }

  .dashboard-header h1 {
    font-size: 1.6rem;
  }

  
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .menu-card {
    padding: 1.5rem;
    width: 50%;
  }  

}
