/* NAV GENERAL */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
  max-width: 70%;
  padding: 0.9rem 1.5rem;
  background: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */
.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #0f172a;
}

/* LINKS DESKTOP */
.nav-links.desktop {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links.desktop a {
  padding: 0.45rem 0.9rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #334155;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.nav-links.desktop a:hover {
  background: #f1f5f9;
  color: #2563eb;
}

.nav-links.desktop a.active {
  padding: 0.45rem 0.9rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #334155;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.25s ease;
  font-family: 'Courier New', Courier, monospace;
}

.btn-navlike{
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-navlike a {
  font-size: 0.95rem;
  font-weight: 500;
  color: #334155;
  border-radius: 8px;
  transition: all 0.25s ease;
  font-family: 'Courier New', Courier, monospace;
}

.btn-navlike a:active{
  padding: 0.45rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #334155;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.btn-navlike:hover {
  background: #f1f5f9;
  color: #2563eb;
}


/* BURGER ICON */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 26px;
  height: 3px;
  background: #0f172a;
  border-radius: 3px;
  transition: 0.3s ease;
}

/* MENÚ MÓVIL */
.nav-links.mobile {
  display: none;
  flex-direction: column;
  list-style: none;
  background: white;
  position: absolute;
  top: 65px;
  right: 0;
  width: 180px;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.25s ease;

}

.nav-links.mobile.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

}

.nav-links.mobile li {
  margin-bottom: 0.8rem;
}

.nav-links.mobile a {
  color: #334155;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 0.2rem;
  display: block;
  border-radius: 6px;
}

.nav-links.mobile a:hover {
  background: #f1f5f9;
  color: #2563eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links.desktop {
    display: none;
  }

  .burger {
    display: flex;
  }
}